.face-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.image-wrapper {
  position: relative;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  cursor: pointer;
}